section{
    padding: 16px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

@media (min-width: 1920px) {
    section {
    margin-left: 15%;
    width: 70%;
    }
}

/* p tags */
.main_title{
    font-size: 17px;
    font-weight: 700;
    color: black;
}

.sub_title{
    margin-top: 2px;
    font-size: 14px;
    color: rgba(0,0,0, 0.5);
}

.plus{
    font-size: 13px;
    color: rgba(34,34,34, 0.5);
    align-self: flex-end;
    padding-bottom: 16px;
    padding-right: 20px;
}

.brand{
    font-size: 13px;
    font-weight: 700;
    color: black;
    padding-bottom: 2px;
}

.cloth_name{
    font-size: 13px;
    color: black;
    margin-top: 2px;
}

.price{
    font-size: 13px;
    font-weight: 700;
    color: black;
    padding-top: 20px;
}

.price_info{
    font-size: 13px;
    color: rgba(34,34,34,0.5);
}

.info{
    font-size: 15px;
    color: #333;
    margin-top: 8px;
}

.brand_name{
    font-size: 15px;
    color: #333;
    margin-bottom: 8px;
}
/* p tags end*/

.banner{
    padding: 0;
}

.swiper-slide{
    display: flex;
    justify-content: center;
    height: 480px;   
}

.slide1{
    background-color: #0f3961;
}

.slide2{
    background-color: #4077a9;
}

.slide3{
    background-color: #b52838;
}

.slide4{
    background-color: #2434e5;
}

.slide5{
    background-color: #a2aea1;
}

.slide6{
    background-color: #f6edec;
}

.slide7{
    background-color: #f1f0ea;
}

.slide8{
    background-color: #e2eff1;
}

.swiper-image{
    max-height: 480px;
}

.topbar_wrapper{
    display: flex;
    justify-content: space-between;
}

.title_wrapper{
    padding: 16px;
}

.thumbnail_container {
    display: grid;
    /* column-gap: 8px; */
}
@media (max-width: 750px) {
    .thumbnail_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .thumbnail_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .thumbnail_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.popular{
    display: flex;
    justify-content: center;
}

.thumbnail_container2 {
    display: grid;
    /* column-gap: 8px; */
}
@media (max-width: 750px) {
    .thumbnail_container2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .thumbnail_container2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .thumbnail_container2 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.thumbnail_row{
    padding-left: 16px;
    padding-right: 16px;
}

.thumbnail_row2{
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.thumbnail_wrapper{
    position: relative;
}

.thumbnail {
    width: 100%;
    border: 0;
    border-radius: 10px;
}

.thumbnail2 {
    width: 100%;
    object-fit: cover;
    border: 0;
    border-radius: 10px;
}

.bookmark{
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 7%;
    right: 6%;
}

.thumbnail_info {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}

.delivery{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 20px;
    font-size: 10px;
    background-color: rgb(242, 249, 246);
    color:rgb(49, 180, 110);
    margin-top: 4px;
}

.thunder{
    width: 20%;
    border: 0;
}

.btn_wrapper{
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.lookbook_swiper{
    width: 100%;
}

.lookbook_container{
    height: 260px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}

.lookbook_wrapper{
    max-height: 260px;
    max-width: 200px;
    position: relative;
}

.lookbook{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.author{    
    position: absolute;
    top: 3%;
    left: 5%;
    max-height: 36px;
    border-radius: 20px;
}

.tag{
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-size: 13px;
    color: #fff;
}